@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,900;1,200;1,300;1,400;1,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,300;1,400;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia:wght@400&display=swap');


/* 
font-family: 'Cabin', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Saira Extra Condensed', sans-serif;
*/

:root {
    --primary: #E1D8CC;
    --secondary: #6C3926;
    --khaki: #BBA68A;
    --darkvanilla:#D5C6B3;
    --pale-silver: #D1C4BE;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #d74338;
    --light: #f8f9fa;
    --dark: #343a40;
    --black:#222222;
    --whatsapp-green: #25D366;
    /* --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px; */
    --font-family-lato: 'Lato', sans-serif;
    --font-family-poppins: 'Poppins', sans-serif;
    --font-family-nunito: 'Nunito Sans', sans-serif;
    --font-family-mont: 'Montserrat Alternates', sans-serif;
    --font-family-cabin: 'Cabin', sans-serif;
    --font-family-sans: 'Open Sans', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-saira: 'Saira Extra Condensed', sans-serif;
    --font-family-arizon: 'Arizonia', cursive;
}

@font-face {
    font-family: 'Segoe Script';
    src: url(fonts/segoesc.ttf);
    font-style: normal;
}

@font-face {
  font-family: 'Trajan Pro';
  src: url(fonts/TrajanPro-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Trajan Pro';
  src: url(fonts/TrajanPro-Regular.ttf);
  font-style: normal;
}

html{
  height:100%;
}


body {
  /* display:flex;
  flex-direction: column; */
  min-height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


